@import url(normalize.css);

div{
	height: 200px;
	width: 200px;
	margin: 20px auto;
	background-color: #5ccccc;
	/*Выбирает конкретное свойство в :hover:;
	transition-property: all;
	transition-duration: 2s;
	transition-delay: 1s;
	transition-timing-function: ease-out;
	*/
	transition: all 1s .1s ease-out;

}
div:hover{
	height: 300px;
	width: 300px;
	margin: 20px auto;
	background-color: red;
}